.videoContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
  }